@import "tailwindcss";

--breakpoint{
    --max-tablet:800px;
    --max-mobile:500px;
}
.heart {
  animation: beat 2.5s ease-in-out infinite;
}
@keyframes beat {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
  }

  100% {
    scale: 1;
  }
}
.book {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.foto {
  animation: bounce 20s infinite;
}
@keyframes bounce {
  0% {
    transform: translatey(0);
  }
  40% {
    transform: translatey(-4px);
  }

  60% {
    transform: translatey(-2px);
  }
}
.investImage {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 45px;
}
.card:hover {
  .scaleImage {
    transform-origin: bottom right;
    animation: scaleImage 0.9s ease-in-out forwards;
  }
}

@keyframes scaleImage {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1.2); /* Ends at bigger size */
  }
}
iframe {
  border: 12px solid white;
  width: 792px;
  height: 445px;
  border-radius: 30px;
}

